@if (FighterInTeam.Fighter is not null)
{
    <MudStack Justify=Justify.Center
              Spacing=1>
        @if (!string.IsNullOrEmpty(FighterInTeam.Fighter.Image?.Url))
        {
            <MudLink Class="align-self-center"
                     Href=@FighterInTeam.Fighter.Image.Url
                     Target="_blank">
                <MudImage Alt=@localizer[nameof(AppStrings.Image)]
                          Fluid=true
                          ObjectFit=ObjectFit.Contain
                          Src=@FighterInTeam.Fighter.Image.Url
                          Style="max-height: 250px;" />
            </MudLink>
        }
        else
        {
            <MudImage Alt=@localizer[nameof(AppStrings.Image)]
                      Fluid=true
                      ObjectFit=ObjectFit.Contain
                      Src="images_default/default_user_image.png"
                      Style="max-height: 250px;" />
        }
        <div onclick=@(() => RedirectToFighterProfile(FighterInTeam.Fighter.Id))
             style="cursor: pointer;">
            <MudText Class="align-self-center"
                     Style="font-weight: bold; text-align: center;"
                     Typo=Typo.subtitle1>
                @FighterInTeam.Fighter.Nickname.ToUpper()
            </MudText>
            <MudText Class="align-self-center"
                     Style="text-align: center;"
                     Typo=Typo.subtitle2>
                @FighterInTeam.Fighter.FirstName.ToUpper() @FighterInTeam.Fighter.LastName.ToUpper()
            </MudText>
        </div>
        <MudPaper Square=true
                  Style=@($"background:{FighterHelpers.GetFightResultColor(FighterInTeam.FightResult)};")>
            <MudText Class="align-self-center"
                     Style="text-align: center;"
                     Typo=Typo.subtitle2>
                @FighterInTeam.FightResult.ToText().ToUpper()
            </MudText>
        </MudPaper>
    </MudStack>
}