@if (validationErrors.Errors.Count > 0)
{
    <div class="mud-input-control-helper-container">
        @foreach (var prop in validationErrors.Errors.Keys)
        {
            <p class="mud-input-helper-text mud-input-error">
                <div class="d-flex">
                    @foreach (var error in validationErrors.Errors[prop])
                    {
                        <div class="me-auto">
                            @error
                        </div>
                    }
                </div>
            </p>
        }
    </div>
}
