<div>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1>Freak Fights Fan</h1>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav mode="side" #sidenav opened>
            <mat-nav-list>
                <a mat-list-item href="/">
                    Home
                </a>
                <a mat-list-item href="/">
                    Fighters
                </a>
                <a mat-list-item href="/">
                    Federations
                </a>
                <a mat-list-item href="/">
                    Settings
                </a>
                <mat-accordion>
                    <mat-expansion-panel class="mat-elevation-z0" [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Admin Panel
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <a mat-list-item href="/">
                            Images
                        </a>
                        <a mat-list-item href="/app-dictionaries">
                            Dictionaries
                        </a>
                        <a mat-list-item href="/">
                            Users
                        </a>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
            <!-- <div>Welcome to Freak Fights Fan App</div> -->
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>