@model FreakFightsFan.Api.Emails.Templates.EmailConfirmationSuccessfulTemplateModel

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Witaj @Model.UserName</h1>
    <p>Twój adres e-mail został pomyślnie potwierdzony. Możesz teraz zalogować się przy użyciu swojego adresu e-mail.</p>
</body>
</html>