@model FreakFightsFan.Api.Emails.Templates.EmailConfirmationTemplateModel

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Witaj @Model.UserName</h1>
    <p>Aby potwierdzić swój adres e-mail, kliknij poniższy link:</p>
    <p>@Model.Link</p>
</body>
</html>